# {{ ansible_managed }}

root={{ mail_admin }}
AuthMethod={{ ssmtp_auth_method }}
FromLineOverride={{ ssmtp_from_override }}
UseTLS={{ ssmtp_tls }}
UseSTARTTLS={{ ssmtp_start_tls }}
hostname={{ mail_hostname }}
mailhub={{ mail_smtp_server }}:{{ mail_smtp_port }}
{% if mail_user is defined %}
AuthUser={{ mail_user }}@{{ mail_hostname }}
{% endif %}
{% if mail_password is defined %}
AuthPass={{ mail_password }}
{% endif %}
