# default nginx site config for Pleroma
#
# Simple installation instructions:
# 1. Install your TLS certificate, possibly using Let's Encrypt.
# 2. Replace 'example.tld' with your instance's domain wherever it appears.
# 3. Copy this file to /etc/nginx/sites-available/ and then add a symlink to it
#    in /etc/nginx/sites-enabled/ and run 'nginx -s reload' or restart nginx.

proxy_cache_path /tmp/pleroma-media-cache levels=1:2 keys_zone=pleroma_media_cache:10m max_size=10g
                 inactive=720m use_temp_path=off;

# this is explicitly IPv4 since Pleroma.Web.Endpoint binds on IPv4 only
# and `localhost.` resolves to [::0] on some systems: see issue #930
upstream phoenix {
    server 127.0.0.1:4000 max_fails=5 fail_timeout=60s;
}

{% if ssl_enabled -%}
server {
    server_name    {{ hostname }};

    listen         80;
    listen         [::]:80;

    {{ self.acme_challenge() -}}

    location / {
      return         301 https://$server_name$request_uri;
    }
}
{% endif -%}

server {
    server_name {{ hostname }};

    listen {{ ssl_enabled | ternary('443 ssl http2', '80') }};
    listen {{ ssl_enabled | ternary('[::]:443 ssl http2', '[::]:80') }};

    access_log   {{ www_root }}/logs/access.log main;
    error_log    {{ www_root }}/logs/error.log;

    {% if ssl_enabled -%}
    include h5bp/tls/policy_strict.conf;
    include h5bp/tls/ssl_engine.conf;
    include h5bp/security/strict-transport-security.conf;
    {% if ssl_stapling_enabled -%}
    include h5bp/tls/ocsp_stapling.conf;
    {% endif -%}

    {% if pleroma_settings.ssl.provider | default('manual') == 'manual' and pleroma_settings.ssl.cert is defined and pleroma_settings.ssl.key is defined -%}
    ssl_certificate         {{ nginx_path }}/ssl/{{ pleroma_settings.ssl.cert | basename }};
    ssl_certificate_key     {{ nginx_path }}/ssl/{{ pleroma_settings.ssl.key | basename }};

    {% elif pleroma_settings.ssl.provider | default('manual') == 'letsencrypt' -%}
    ssl_certificate         {{ dehydrated_certs_dir }}/{{ hostname }}/fullchain.pem;
    ssl_certificate_key     {{ dehydrated_certs_dir }}/{{ hostname }}/privkey.pem;

    {% elif pleroma_settings.ssl.provider | default('manual') == 'self-signed' -%}
    ssl_certificate         {{ self_ssl_cert }};
    ssl_trusted_certificate {{ self_ssl_cert }};
    ssl_certificate_key     {{ self_ssl_key }};

    {% endif -%}
    {% endif -%}

    {% block acme_challenge -%}
    include acme-challenge-location.conf;
    {% endblock -%}

    # the nginx default is 1m, not enough for large media uploads
    # client_max_body_size 16m;

    {% if site_env.upload_limit > 16_000_000 -%}
    client_max_body_size {{ (site_env.upload_limit / 1_000_000) | int }}m;
    {% else -%}
    client_max_body_size 16m;
    {% endif -%}
    ignore_invalid_headers off;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    location / {
        proxy_pass http://phoenix;
    }

    location ~ ^/(media|proxy) {
        proxy_cache        pleroma_media_cache;
        slice              1m;
        proxy_cache_key    $host$uri$is_args$args$slice_range;
        proxy_set_header   Range $slice_range;
        proxy_set_header   Host $host;
        proxy_cache_valid  200 206 301 304 1h;
        proxy_cache_lock   on;
        proxy_ignore_client_abort on;
        proxy_buffering    on;
        chunked_transfer_encoding on;
        proxy_pass         http://phoenix;
    }
}
