[req]
prompt = no
distinguished_name = req_dn
[req_dn]
commonName = {{ hostname }}
[req_ext]
subjectAltName = DNS:{{ hostname }}
{# subjectAltName = {{ site_hosts | union(multisite_subdomains_wildcards) | map('regex_replace', '(^.*$)', 'DNS:\\1') | join(',') }} #}
