# {{ ansible_managed }}
#################################################################################
# Required settings for configurable_from_database
# https://docs-develop.pleroma.social/backend/configuration/howto_database_config/
import Config

{% block pleroma_base %}
config :pleroma, Pleroma.Web.Endpoint,
  url: [host: "{{ hostname }}", {{ ssl_enabled | ternary('scheme: "https", port: 443', 'scheme: "http", port: 80') }}];

config :pleroma, Pleroma.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "{{ site_env.db_user }}",
  password: "{{ site_env.db_pass }}",
  database: "{{ site_env.db_name }}",
  hostname: "{{ site_env.db_host }}",
  port: "{{ site_env.db_port }}",
  pool_size: 10

config :pleroma, :database, rum_enabled: true
# config :pleroma, :connections_pool:
config :pleroma, configurable_from_database: {{ site_env.configurable_from_database | lower }}
{% endblock %}
#################################################################################
# Pleroma hardening settings
# https://docs-develop.pleroma.social/backend/configuration/hardening/
{% block pleroma_hardened %}
config :pleroma, Pleroma.Web.Endpoint,
  http: [ip: {127, 0, 0, 1}, port: 4000],
  secure_cookie_flag: true

config :pleroma, :http_security,
  enabled: true,
  sts: {{ ssl_enabled | lower }},
  # sts_max_age: 31_536_000,
  # ct_max_age: 2_592_000,
  referrer_policy: "same-origin"
{% endblock %}
#################################################################################
# MISC. settings
# full list: https://git.pleroma.social/pleroma/pleroma/-/blob/develop/config/config.exs
{% block pleroma_config %}
config :pleroma, Pleroma.Uploaders.Local, uploads: "{{ pleroma_uploads_dir }}"

config :pleroma, Pleroma.Web.Endpoint,
  protocol: "{{ ssl_enabled | ternary('https', 'http') }}",
  secret_key_base: "{{ site_env.secret_key_base }}",
  signing_salt: "{{ site_env.signing_salt }}"

config :pleroma, :instance,
  name: "{{ site_env.name }}",
  email: "{{ site_env.admin_email }}",
  notify_email: "{{ site_env.notify_email }}",
  description: "{{ site_env.description }}",
  limit: "{{ site_env.limit }}",
  upload_limit: {{ site_env.upload_limit }},
  registrations_open: {{ site_env.registrations_open | lower }},
  account_activation_required: {{ site_env.account_activation_required | lower }},
  account_approval_required: {{ site_env.account_approval_required | lower }},
  static_dir: "{{ pleroma_static_dir }}"

{% if soapbox is defined and soapbox != '' %}
config :pleroma, :frontends,
  primary: %{
    "name" => "soapbox",
    "ref" => "{{ soapbox.ref }}"
  }
{% endif %}

config :pleroma, :media_proxy,
  enabled: {{ site_env.media_proxy_enabled | lower }},
  proxy_opts: [
        redirect_on_failure: true
  ]

config :pleroma, Pleroma.Emails.Mailer,
  enabled: true,
  adapter: Swoosh.Adapters.SMTP,
  relay: "{{ site_env.smtp_server }}",
  username: "{{ site_env.smtp_login }}",
  password: "{{ site_env.smtp_password }}",
  port: {{ site_env.smtp_port }},
  auth: :always

config :pleroma, :mrf,
  policies: {{ site_env.mrf_policies }}

config :web_push_encryption, :vapid_details,
  subject: "mailto:{{ site_env.admin_email }}",
  public_key: "{{ site_env.vapid_public_key }}",
  private_key: "{{ site_env.vapid_private_key }}"

config :pleroma, :instances_favicons, enabled: {{ site_env.favicons_enabled | lower }}

config :joken, default_signer: "{{ site_env.default_signer }}"
#################################################################################
# Extra settings
{% block pleroma_extra %}
{% endblock %}
{% endblock %}
