<!-- {{ ansible_managed }} -->
<h1>COPYRIGHT POLICY</h1>
<h3>Reporting Claims of Copyright Infringement</h3>
<p>Send an email to {{ soapbox.about.contact_email | default(soapbox_contact_email) }}</p>
