<!-- {{ ansible_managed }} -->
<h1>About {{ soapbox.about.name | default(soapbox_name) }}</h1>
<p>{{ soapbox.about.description | default(soapbox_description) }}</p>

<h2>Site rules</h2>
<p>See: <a href="/about/tos">Terms of Service</a></p>
<p>Soapbox is free and open source (FOSS) software that runs atop a Pleroma server</p>
<p>The Soapbox repository can be found at <a href="https://gitlab.com/soapbox-pub/soapbox">Soapbox</a></p>
<p>The Pleroma server repository can be found at <a href="https://git.pleroma.social/pleroma/pleroma">Pleroma-be</a></p>
