<!-- {{ ansible_managed }} -->
<h1>PRIVACY POLICY</h1>
<h3>Last Updated: {{ soapbox.about.privacy_last_updated | default(soapbox_privacy_last_updated) }}</h3>

<p>{{ soapbox.about.company_name | default(soapbox_company_name) }} ("Company" or "We") respect your privacy and are committed to protecting it through our compliance with this policy.</p>
<p>This policy describes the types of information we may collect from you or that you may provide when you visit the website <!-- *.shitposter.club --> and our practices for collecting, using, maintaining, protecting, and disclosing that information.</p>
<p>This policy applies to information we collect:</p>
<p>On the Website.</p>
<p>In email, text, and other electronic messages between you and this Website.</p>

<h3>What We Collect</h3>
<p>Normal web request logs, which have time, an IP address, browser version, and page requested. These are rotated daily.</p>
<p>We require the use of cookies for the web frontend to function. Cookies are NOT used for any tracking purposes.</p>

<h3>What We Do With the Information</h3>
<p>You may periodically be sent informational or transaction emails</p>

<h3>What We Share With Others</h3>
<p>We do NOT share your personal information with others, except in the following situations:</p>
<ul>
  <li>With our bulk mail sender, <!-- Mailgun, --> ONLY for the purpose of sending you informational email</li>
  <li>With law enforcement, ONLY when: legally obligated with no recourse</li>
</ul>

<h3>Changes to Our Privacy Policy</h3>
<p>Changes will be announced through a normal post on the site.</p>
