<!-- {{ ansible_managed }} -->
<h1>Terms of Service</h1>
<h2>Our Terms of Use</h2>
<ol>
{% for rule in soapbox.about.rules | default(soapbox_rules['minimal']) %}
  <li>{{ rule }}</li>
{% endfor %}
</ol>
<p>Please use the "sensitive" checkbox liberally for risque or shocking images.</p>
