<!-- {{ ansible_managed }} -->
<h1>About {{ soapbox.about.name | default(soapbox_name) }}</h1>
<p>{{ soapbox.about.description | default(soapbox_description)  }}</p>
<p>{{ soapbox.about.name | default(soapbox_name) }} is a way to join the Fediverse, to be part of a community, and to reclaim your freedom of speech in social media.</p>

<h1 id="site-rules">Site rules</h1>
<p>Please refrain from:</p>
<ol>
{% for rule in soapbox.about.rules | default(soapbox_rules['default']) %}
  <li>{{ rule }}</li>
{% endfor %}
</ol>

<!-- <p>What won't get you banned:</p>
     <ol>
     <li>Hurting someone's feelings.</li>
     <li>Unpopular opinions voiced respectfully.</li>
     <li>Anything that can be solved by a personal block.</li>
     <li>Cursing.</li>
     <li>Lewd jokes.</li>
     <li>A bot where all posts are unlisted.</li>
     </ol> -->

<h1 id="opensource">Open Source Software</h1>
<p>Soapbox is free and open source (FOSS) software that runs atop a Pleroma server</p>
<p>The Soapbox repository can be found at <a href="https://gitlab.com/soapbox-pub/soapbox">Soapbox</a></p>
<p>The Pleroma server repository can be found at <a href="https://git.pleroma.social/pleroma/pleroma">Pleroma-be</a></p>
