<!-- {{ ansible_managed }} -->
<h1>Terms of Service</h1>
<p>
  By using this web site, you agree to these Terms of Use, to our
  <a href="/about/dmca">Copyright Policy</a>, and to our
  <a href="/about/privacy">Privacy Policy</a>.
</p>

<p>Our Terms of Use are simple:</p>
<ul>
  <li>
    This is our web site, and we will do as we please with it.  If you
    don't like how we run our site, you are free to set up your own.
  </li>
  <li>
    You grant us a non-exclusive, perpetual, world-wide, irrevocable,
    no-charge, royalty-free copyright license to reproduce, prepare
    derivative works of, publicly display, publicly perform,
    sublicense, and distribute content you post here.
  </li>
  <li>
    We do not promise to preserve anyone's content for any particular
    length of time.  If you want to preserve content (whether your own
    or someone else's) from this web site, you should download your
    own copy of that content.
  </li>
  <li>
    You are liable for what you post, and we are not liable for it.
  </li>
</ul>
